
    <div class="row">

        <div class="col-1-1 column_1">
            <div class="border">
                                
                <%= render :partial => "flash_notice" %>                 
                
                <div class="row">

                    <table>
                        <thead>
                            <tr>
                                <th>Test Title Text</th>
                                <th>Test Title Text</br><span>(ex VAT)</span></th>
                                <th class="row_button no_buttons_1"></th>
                            </tr>
                        </thead>
                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td>Test Title Text</td>
                                <td>Test Title Text</td>
                                <td class="row_button no_buttons_1"></td>
                            </tr>
                        </tbody>
                    </table>
   
                </div>
            </div>
        </div>

    </div>
