
    <div class="row">

        <div class="col-1-1">
            <div class="border">

                <div class="row">

                    <table>
                        <tbody>
                            <tr>
                                <td>Test Title Text</td>
                                <td>Test Title Text</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
