
    <div class="row header">
        <figure><%= image_tag("header_logo.png", height: "30px") %></figure>
                
        <%= render :partial => "dashboard_menu" %>                
     <!--   <nav class="app_logout"><%= link_to "logout", nil %></nav> -->
        <%= render :partial => "user_menu" %>
    </div>
