<div class="row info_band">

    <div class="info_right">
        <div><h3>Status: Preliminary</h3></div>    
        <div><h3>Rev: AA</h3></div>    
    </div>
    
    <div class="info_left">
        <div class=""><h3>Project: Project name which could be quite long</h3></div>
    </div>

</div>