<div class="row option_band">
    
    <div>
        <div>
            <label class="select_1">Section:</label>
            <%= select_tag "select_id", "<option>David the name is longer than the select box</option>".html_safe, prompt: "Select something" %>
        </div>

        <div>
            <label class="select_2">Subsection:</label>
            <%= select_tag "select_id", "<option>David the name is longer than the select box</option>".html_safe, prompt: "Select something" %>
        </div>
    </div>

    <div class="float_right">
        <div><%= link_to 'Upload Icon', nil, class: "option_button" %></div>
        <div><%= link_to 'Upload Icon', nil, class: "option_button" %></div>
    </div>

</div>