
    <div class="row option_band">
        <div class="col-5-6"><p>col-1-1 (options band)</p></div>

        <div class="col-1-12"><p>(button)</p></div>
        <div class="col-1-12"><p>(button)</p></div>
    </div>
