
    <div class="row title_band">
        <div class="page_title">
            <h1>Page Title Text Here</h1>            
        </div>
        <div class="title_help" id="page_content_index"></div>
         
        <div><%= link_to 'Upload Icon', nil, class: "title_button"%></div>
    </div>

