<div class="grid-container outline">

    <div class="row page_header">
        <div class="col-1-12"><p>(logo)</p></div>

        <div class="col-2-3"><p>col-1-2 (menu)</p></div>

        <div class="col-1-6"><p>col-1-6 (user)</p></div>
        <div class="col-1-12"><p>(logout)</p></div>
    </div>


    <div class="row">            
        <div class="flash_notice">
            <p>flash notice</p>       
        </div>                 
    </div>

    <div class="row title_band">
        <div class="col-5-6"><h1>Page Title Text Here</h1></div>

        <div class="col-1-12"><p>(button)</p></div>
        <div class="col-1-12"><p>(button)</p></div>
    </div>


    <div class="row info_band">
        <div class="col-5-6"><p>col-1-1 (information band)</p></div>

        <div class="col-1-12"><p>(button)</p></div>
        <div class="col-1-12"><p>(button)</p></div>
    </div>

    <div class="row option_band">
        <div class="col-5-6"><p>col-1-1 (options band)</p></div>

        <div class="col-1-12"><p>(button)</p></div>
        <div class="col-1-12"><p>(button)</p></div>
    </div>

    <div class="row">
        <div class="col-1-3 column_1">
            <div class="border">

            <div class="row">            
                <div class="form_error">
                    <p>form error</p>
                    <ul><li>error text 1</li></ul>          
                </div>                 
            </div>

            <div class="row">            
                <div class="form_title">
                    <h3>Title text here </h1>          
                </div>                 
            </div>
            
            <div class="row">             
                
                <form method="post" action="<?php echo htmlentities($_SERVER['PHP_SELF']); ?>">
                    <fieldset>
                    <div class="form_tooltip"></div> 
                    <label class="label_80">First name</label>
                    <span><input type="text" name="first_name" required /><p class="input_note">number of characters</p></span></br>
                    
                    <div class="form_tooltip"></div>
                    <label class="label_80">Radio Label</label>
                    <span><input type="radio" name="first_name" required /><span>test text</span></span></br>


                    <div class="form_tooltip"></div>
                    <label class="label_80">First name</label>
                    <span>
                        <textarea rows="5">At w3schools.com you will learn how to make a website. We</textarea>
                        <p class="input_note">number of characters</p>                     
                    </span></br>

                    <div class="form_tooltip"></div>
                    <label class="label_80">First name</label>
                    <span>
                       <select>
                          <option>Here is the first option</option>
                          <option>The second option</option>
                       </select>
                    </span></br>


                    </fieldset>
                </form> 

            </div>
            <div class="row">
                    <div class="form_submit">
                        <input type="submit" name="submit1" id="submit1" value="Next" />
                        <a href="" >Test cancel link text</a>
                    </div>                             
            </div>        
            </div>
        </div>
        <div class="col-1-3 column_2">
            <div class="border">
            </div>
        </div>
        <div class="col-1-3 column_3">
            <div class="border">
            </div>
        </div>
    </div>


</div>



<div class="grid-container outline">

    <div class="row">
        <div class="col-1-1">
            <div class="border">


            <div class="row">            
                <div class="form_error">
                    <p>form error</p>          
                </div>                 
            </div>

            <div class="row">
                <div class="sub-1-3">    

                        
                        
                    <form method="post" action="<?php echo htmlentities($_SERVER['PHP_SELF']); ?>">
                            <fieldset>
                                <div class="form_tooltip"></div> 
                                <label class="label_80">First name</label>
                                <span><input type="text" name="first_name" required /><p class="input_note">number of characters</p></span></br>                                
                            </fieldset>
                    </form>                                 
                </div>
                <div class="sub-1-3">    
                        <form method="post" action="<?php echo htmlentities($_SERVER['PHP_SELF']); ?>">
                            <fieldset>
                                <div class="form_tooltip"></div> 
                                <label class="label_80">First name</label>
                                <span><input type="text" name="first_name" required /><p class="input_note">number of characters</p></span></br>                                
                            </fieldset>
                        </form>                                 
                        <form method="post" action="<?php echo htmlentities($_SERVER['PHP_SELF']); ?>">
                            <fieldset>
                                <div class="form_tooltip"></div> 
                                <label class="label_80">First name</label>
                                <span><input type="text" name="first_name" required /><p class="input_note">number of characters</p></span></br>                                
                            </fieldset>
                        </form> 

                </div>
                <div class="sub-1-3">    

                    <div class="row">            
                        <div class="form_title">
                            <h3>Title text here </h1>          
                        </div>                 
                    </div>

                        <form method="post" action="<?php echo htmlentities($_SERVER['PHP_SELF']); ?>">
                            <fieldset>
                                <div class="form_tooltip"></div> 
                                <label class="label_80">First name</label>
                                <span><input type="text" name="first_name" required /><p class="input_note">number of characters</p></span></br>                                
                            </fieldset>
                        </form>                                 
                </div>
            </div>
            <div class="row">
                    <div class="form_submit">
                        <input type="submit" name="submit1" id="submit1" value="Next" />
                        <a href="" >Test cancel link text</a>
                    </div>          
            </div>
            </div>
        </div>
    </div>

</div>
